# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="robbyrussell"

# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias grep="grep --color=always"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to disable command auto-correction.
# DISABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(git zsh-syntax-highlighting autojump)

source $ZSH/oh-my-zsh.sh

# User configuration
{% if ansible_os_family is equalto "Debian" %}
# export SCHRODINGER="{{ ansible_env.HOME }}/bin/schrodinger"
# export SCHRODINGER_TEMP_PROJECT="/tmp"

export JAVA_8_HOME="/usr/lib/jvm/java-8-oracle"

export JAVA_HOME_RUN=$JAVA_8_HOME
export JAVA_HOME_COMPILE=$JAVA_8_HOME
export JAVA_HOME=$JAVA_8_HOME
export JAVA=$JAVA_HOME/bin/java

export PATH="/home/leswing/anaconda3/bin:$PATH"
source activate daily
{% endif %}

{% if ansible_os_family is equalto "Darwin" %}
alias gvim='mvim'
{% endif %}

export GOPATH={{ ansible_env.HOME }}/bin/go
export PATH="$GOPATH/bin:$PATH"

fortune -a | cowsay -f tux
